
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px; /* Adjust the font size as needed */
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-divv {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increase the width of the box */
  min-height: 450px; /* Set a minimum height for the box */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
}

button:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
